.center-text {
    text-align: center;
}

/* Top Margin */
.top-margin {
    margin-top: 40px;
}

/* Transform text form fields */
#firstName,
#lastName,
#city {
    text-transform: capitalize;
}

#email {
    text-transform: lowercase;
}

p.red-text {
    color: red;
}

p.purple-text {
    color: purple;
}